@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f9f9f7;
}

* {
  font-variant-numeric: proportional-nums;
}

.tabular {
  font-variant-numeric: tabular-nums;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d8d6cf;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
